:root {
    --main-color: rgb(255, 255, 255);

    --main-dark-bg-color: rgb(50, 50, 50);
    --main-dark-fg-color: rgb(250, 230, 215);

    --main-light-bg-color: var(--main-dark-fg-color);
    --main-light-fg-color: var(--main-dark-bg-color);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    overflow: hidden;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sketch-generate-controls {
    background-color: var(--main-dark-bg-color);
    color: var(--main-light-bg-color);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    width:100%;
}

#sketch-solve-controls {
    background-color: var(--main-dark-bg-color);
    color: var(--main-light-bg-color);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    width:100%;
}


